# Problem Statement : Big Mart Sales prediction, where we need to predict the sales of store.

In [113]:
# importing libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [114]:
# reading the dataset

data = pd.read_csv("C:\\Users\\Admin\\Internshala\\train_dataset_Linear_Regression.csv")

In [115]:
print(data)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15        9.300          Low Fat         0.016047
1              DRC01        5.920          Regular         0.019278
2              FDN15       17.500          Low Fat         0.016760
3              FDX07       19.200          Regular         0.000000
4              NCD19        8.930          Low Fat         0.000000
...              ...          ...              ...              ...
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

                  Item_Type  Item_MRP Outlet_Identifier  \
0                     Dairy  249.8092            OUT049
1               Soft Drinks   48.2692            OUT018
2                      Meat  141.6180            OUT049
3     Fruits and Vegetables  182.0950            OUT010
4                 Household   53.8614            OUT013
...                     ...       ...               ...
8518            Snack Foods  214.5218            OUT013
8519           Baking Goods  108.1570            OUT045
8520     Health and Hygiene   85.1224            OUT035
8521            Snack Foods  103.1332            OUT018
8522            Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
1                          2009      Medium               Tier 3
2                          1999      Medium               Tier 1
3                          1998         NaN               Tier 3
4                          1987        High               Tier 3
...                         ...         ...                  ...
8518                       1987        High               Tier 3
8519                       2002         NaN               Tier 2
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
1     Supermarket Type2           443.4228
2     Supermarket Type1          2097.2700
3         Grocery Store           732.3800
4     Supermarket Type1           994.7052
...                 ...                ...
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [116]:
# dimensions of the dataset

data.shape

(8523, 12)

In [117]:
# top 5 rows

data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

NOTE: Item_Outlet_Sales is our target variable, we need to predict this variable using all these variables

NOTE: we can see that target variable is continuous in nature, so this is a regression problem. That's why we are performing here Linear Regression.

In [118]:
# making the train dataset 

train = data[0:7999]

NOTE: To build a model, we require 2 types of dataset, Training dataset and Test dataset.

Training dataset: we will train our model.

Test dataset: Here we make a predictions and checks the results.

NOTE: Training dataset and Test dataset is that the Test dataset doesn't have the target variable. But in this we will be having the taeget variable.

In [119]:
# making the test dataset

test = data[8000:]

In [120]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8000,FDS55,7.02,Low Fat,0.081329,Fruits and Vegetables,150.0734,OUT045,2002,NaN,Tier 2,Supermarket Type1,4454.2020
8001,FDT21,7.42,Low Fat,0.020388,Snack Foods,247.1092,OUT035,2004,Small,Tier 2,Supermarket Type1,4233.1564
8002,NCR38,17.25,Low Fat,0.113518,Household,253.5724,OUT046,1997,Small,Tier 1,Supermarket Type1,5033.4480
8003,FDJ22,18.75,Low Fat,0.052917,Snack Foods,190.6504,OUT045,2002,NaN,Tier 2,Supermarket Type1,1342.2528
8004,FDB57,20.25,reg,0.018911,Fruits and Vegetables,220.5772,OUT017,2007,NaN,Tier 2,Supermarket Type1,2446.1492

In [121]:
#Training dataset
# only Independent variables
# dropping the target variable i.e. Item_Outlet_Sales, so that we can left with the independent variables.
# here axis=1 specifies that drop from the column.

x_train = train.drop('Item_Outlet_Sales', axis=1)

In [122]:
x_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1

In [123]:
# Dependent variable

y_train = train['Item_Outlet_Sales']

In [124]:
y_train.head()

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [125]:
# Test Dataset

x_test = test.drop('Item_Outlet_Sales', axis=1)

In [126]:
x_test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
8000,FDS55,7.02,Low Fat,0.081329,Fruits and Vegetables,150.0734,OUT045,2002,NaN,Tier 2,Supermarket Type1
8001,FDT21,7.42,Low Fat,0.020388,Snack Foods,247.1092,OUT035,2004,Small,Tier 2,Supermarket Type1
8002,NCR38,17.25,Low Fat,0.113518,Household,253.5724,OUT046,1997,Small,Tier 1,Supermarket Type1
8003,FDJ22,18.75,Low Fat,0.052917,Snack Foods,190.6504,OUT045,2002,NaN,Tier 2,Supermarket Type1
8004,FDB57,20.25,reg,0.018911,Fruits and Vegetables,220.5772,OUT017,2007,NaN,Tier 2,Supermarket Type1

In [127]:
true_p = test['Item_Outlet_Sales']

In [128]:
true_p.head()

8000    4454.2020
8001    4233.1564
8002    5033.4480
8003    1342.2528
8004    2446.1492
Name: Item_Outlet_Sales, dtype: float64

In [129]:
# importing library

from sklearn.linear_model import LinearRegression

In [130]:
# creating an object of LinearRegression as lreg

lreg = LinearRegression()

In [131]:
# fit() function is used to fit the model

lreg.fit(x_train,y_train)

ValueError: could not convert string to float: 'FDA15'

NOTE: It accepts only int or float i.e. numeric value, it doesn't accept the strings values.

NOTE: For this we create a dummification

In [132]:
# create a dummies for train dataset

x_train = pd.get_dummies(x_train)

In [133]:
x_train.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [134]:
x_train.shape

(7999, 1604)

In [135]:
# create a dummies for test dataset too.

x_test = pd.get_dummies(x_test)

In [136]:
x_test.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB25,Item_Identifier_DRB48,Item_Identifier_DRD13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
8000,7.02,0.081329,150.0734,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8001,7.42,0.020388,247.1092,2004,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8002,17.25,0.113518,253.5724,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
8003,18.75,0.052917,190.6504,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8004,20.25,0.018911,220.5772,2007,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [137]:
x_test.shape

(523, 502)

In [138]:
# Now run our model and check.

lreg.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

NOTE: still we are getting an error, we need to impute the missing values, let's fix that

In [139]:
# Filling the missing values as zero for train and test dataset.

x_train.fillna(0, inplace=True)

In [140]:
x_test.fillna(0, inplace=True)

In [141]:
# Now run our model and check

lreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

NOTE: We have successfully fitted our model now.

In [142]:
# Once we fitted our model, the next step is to predict our model.
# Now predict on the dataset.

pred=lreg.predict(x_test)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 1604 is different from 502)

NOTE: The number of features in the train and test are different.

NOTE: The one reason might be for this, the number of categories which where in a variable train is different from the categories which are in test. So a good solution to this problem is that whenever we perform a dummification, we perform on the entire subset or combination of train and test. So that the number of features created are equal.

In [143]:
data = pd.get_dummies(data)

In [144]:
data

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.300,0.016047,249.8092,1999,3735.1380,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.920,0.019278,48.2692,2009,443.4228,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.500,0.016760,141.6180,1999,2097.2700,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.200,0.000000,182.0950,1998,732.3800,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.930,0.000000,53.8614,1987,994.7052,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0.056783,214.5218,1987,2778.3834,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
8519,8.380,0.046982,108.1570,2002,549.2850,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8520,10.600,0.035186,85.1224,2004,1193.1136,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8521,7.210,0.145221,103.1332,2009,1845.5976,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
8522,14.800,0.044878,75.4670,1997,765.6700,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0

In [145]:
# making the train dataset

train = data[0:7999]

In [146]:
# making the test dataset

test = data[8000:]

In [147]:
test.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
8000,7.02,0.081329,150.0734,2002,4454.2020,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8001,7.42,0.020388,247.1092,2004,4233.1564,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8002,17.25,0.113518,253.5724,1997,5033.4480,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
8003,18.75,0.052917,190.6504,2002,1342.2528,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8004,20.25,0.018911,220.5772,2007,2446.1492,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [148]:
x_train = train.drop('Item_Outlet_Sales', axis=1)

In [149]:
x_train.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [150]:
y_train = train['Item_Outlet_Sales']

In [151]:
y_train.head()

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [152]:
# Test Dataset

x_test = test.drop('Item_Outlet_Sales', axis=1)

In [153]:
x_test.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
8000,7.02,0.081329,150.0734,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8001,7.42,0.020388,247.1092,2004,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8002,17.25,0.113518,253.5724,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
8003,18.75,0.052917,190.6504,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8004,20.25,0.018911,220.5772,2007,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [154]:
true_p = test['Item_Outlet_Sales']

In [155]:
true_p.head()

8000    4454.2020
8001    4233.1564
8002    5033.4480
8003    1342.2528
8004    2446.1492
Name: Item_Outlet_Sales, dtype: float64

In [156]:
# importing library

from sklearn.linear_model import LinearRegression

In [157]:
# creating an object of LinearRegression as lreg

lreg = LinearRegression()

In [158]:
# fit() function is used to fit the model

lreg.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [159]:
# create a dummies for train dataset

x_train = pd.get_dummies(x_train)

In [160]:
x_train.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [161]:
x_train.shape

(7999, 1604)

In [162]:
# create a dummies for test dataset too.

x_test = pd.get_dummies(x_test)

In [163]:
x_test.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
8000,7.02,0.081329,150.0734,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8001,7.42,0.020388,247.1092,2004,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8002,17.25,0.113518,253.5724,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
8003,18.75,0.052917,190.6504,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8004,20.25,0.018911,220.5772,2007,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [164]:
x_test.shape

(523, 1604)

In [165]:
# Now run our model and check.

lreg.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [166]:
# Filling the missing values as zero for train and test dataset.

x_train.fillna(0, inplace=True)

In [167]:
x_test.fillna(0, inplace=True)

In [168]:
# Now run our model and check

lreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [170]:
# Once we fitted our model, the next step is to predict our model.
# Now predict on the dataset.

lreg.predict(x_test)

array([ 2.41054492e+03,  3.88556787e+03,  3.84853662e+03,  2.06958594e+03,
        4.75816016e+03,  2.99298193e+03,  1.88030029e+03,  2.50882764e+03,
        3.52322949e+03,  5.33696191e+03,  4.86768555e+03,  1.09851074e+03,
        4.14060010e+03,  9.34388184e+02,  1.68440137e+03,  9.36926270e+02,
        5.47847168e+02,  9.30712402e+02,  3.47798730e+03,  2.22795703e+03,
        1.97964160e+03,  2.18408936e+03,  3.80879346e+03,  5.37310693e+03,
        1.22029688e+03, -8.61473145e+02,  2.55794238e+03,  2.56373389e+03,
        5.03458057e+03,  4.20785547e+03,  6.30855469e+02,  3.03010742e+02,
        1.03365088e+03,  1.53647852e+03,  1.45207324e+03,  2.63216455e+03,
        2.90671045e+03,  1.39665137e+03,  6.19042969e+02,  4.81775635e+03,
        2.93447217e+03,  1.06414062e+03,  3.66100879e+03,  2.41341309e+02,
        3.44682031e+03,  1.88308398e+03,  3.14802051e+03,  2.58992041e+03,
        7.98182617e+02,  6.26812012e+02,  5.48714404e+03,  2.34230957e+03,
        2.47416064e+03,  2.26269727e+03,  1.15300781e+02,  2.93820312e+03,
        2.45789551e+03,  1.60151758e+03,  7.83992188e+02,  3.79827295e+03,
        1.99772949e+02,  2.84023682e+03,  2.48737646e+03, -4.34932617e+02,
        4.87113574e+03,  2.57641553e+03,  2.71079980e+03,  2.96470117e+03,
        2.10488086e+03,  2.60464404e+03,  2.01010059e+03,  2.05067383e+03,
        3.35429346e+03,  2.11647559e+03,  2.79649805e+03,  2.88971484e+03,
        2.27480371e+03,  1.87288184e+03,  3.08572754e+03,  2.46676904e+03,
        2.63429688e+03,  1.70560596e+03,  2.05050244e+03,  2.95863281e+03,
        2.86803369e+03,  1.82897119e+03,  4.25097363e+03,  3.89744043e+03,
        1.83559082e+03,  3.17902295e+03, -7.44023926e+02,  7.18440918e+02,
        1.45189600e+03,  1.06256348e+03, -5.07273926e+02,  3.02099512e+03,
        1.17082715e+03,  8.64002930e+02,  4.29890625e+03,  4.49650098e+03,
        3.01219092e+03,  4.95946143e+03,  2.93542236e+03,  4.48535156e+00,
        2.33310303e+03,  1.74794141e+03,  7.95134277e+02,  5.62983398e+02,
        1.51131055e+03,  3.41442725e+03, -9.90759277e+02,  9.90685059e+02,
        1.51252441e+03,  2.56029639e+03,  1.32792188e+03,  9.59717773e+02,
       -1.14898633e+03,  4.09349414e+03,  9.33866699e+02,  1.73385498e+03,
        2.41623877e+03,  3.51439453e+02,  1.48365771e+03,  3.24337451e+03,
        1.09357764e+03,  4.76323486e+03,  2.38276807e+03,  3.82731396e+03,
        3.77339551e+03,  2.63619775e+03,  1.55590771e+03,  4.37173242e+03,
        2.18968896e+03,  6.20250000e+02,  1.07470215e+03,  5.69208984e+02,
        4.25185205e+03,  2.28386279e+03,  2.81979980e+03,  1.87971338e+03,
        8.39866699e+02,  6.57620605e+02,  3.02672754e+03,  1.46534229e+03,
        4.01485352e+03,  2.39091455e+03,  4.76241992e+03,  3.27766211e+03,
        3.69812549e+03,  2.11198047e+03,  1.15781348e+03,  1.88133057e+03,
       -9.03157715e+02,  3.94271680e+03,  4.27064551e+03,  4.93254883e+02,
        1.14872461e+03,  2.58881543e+03,  2.14632812e+03,  2.06877051e+03,
        2.75331348e+03,  3.77142627e+03,  8.88336426e+02,  4.73623193e+03,
        2.90295898e+03,  5.41564844e+03,  4.97637207e+02,  2.55823975e+03,
        1.13256592e+03,  2.67386670e+03,  4.94149707e+03,  1.98504785e+03,
        3.84533398e+03,  1.27116992e+03,  3.30558691e+03,  4.55779541e+03,
        1.63002881e+03,  6.01088477e+03,  5.07702002e+03,  1.20335986e+03,
        2.67525781e+03,  2.84375049e+03,  2.03159473e+03,  1.47063330e+03,
        3.85822168e+03,  1.94339453e+03,  3.71198340e+03,  1.46247949e+03,
        1.94791699e+03,  1.15653662e+03,  2.93561182e+03,  1.22172217e+03,
        2.19091553e+03,  2.20483740e+03,  2.48212891e+02,  2.23230566e+03,
        2.64324121e+03,  1.56486670e+03,  5.72372119e+03,  5.17357568e+03,
        3.12046143e+03,  5.06041113e+03,  1.44027734e+03,  2.01065430e+03,
        4.72485840e+02,  1.17151318e+03,  5.93541504e+02,  2.90086719e+03,
        4.37856055e+03,  1.51494336e+03,  4.97464893e+03,  1.98771973e+03,
        2.97501855e+03,  1.58198340e+03,  2.19522559e+03,  1.90876074e+03,
        2.73573096e+03,  3.33412988e+03,  1.77972900e+03,  1.53636230e+03,
        1.98181982e+03,  1.84752930e+03,  3.46140771e+03,  1.28147656e+03,
        4.49849707e+03,  2.31777441e+03,  3.05977539e+02,  6.50284180e+02,
        1.38200146e+03,  2.68411377e+03,  3.61453125e+02,  3.34456787e+03,
        2.95328418e+03,  1.95113965e+03, -6.25605469e+01,  5.73547852e+02,
        2.60577148e+03, -1.14316406e+02,  1.45028564e+03, -1.94696240e+03,
        1.20645557e+03, -1.21295996e+03,  1.69535840e+03,  3.74798926e+03,
        5.45163721e+03,  5.07800830e+03,  1.77373291e+03,  1.47517578e+03,
        3.32612305e+02,  4.23010889e+03,  2.18817285e+03,  5.61982227e+03,
        3.36983057e+03,  1.04032520e+03,  2.06846436e+03,  2.06502393e+03,
        1.74313232e+03,  1.85760303e+03,  1.46191309e+03,  9.68011719e+02,
        1.12599902e+03,  2.72916943e+03,  2.01743945e+03,  3.39961865e+03,
        3.70678857e+03,  2.60492432e+03,  7.14076172e+02,  3.41956738e+03,
        1.05840820e+03, -9.68797363e+02,  2.33428467e+03,  2.30634473e+03,
        1.77463232e+03,  8.93265625e+02,  3.78631787e+03,  1.62564307e+03,
        1.32637695e+03,  6.88767578e+02,  3.42374268e+03,  3.08790088e+03,
        3.13881543e+03,  4.53868164e+03,  2.45090918e+03,  1.47806982e+03,
        4.58471680e+01,  2.27369141e+03,  1.70937109e+03,  6.99419922e+02,
        3.07484375e+02,  1.64128516e+03,  8.18201172e+02,  4.21414551e+02,
        1.46446240e+03,  1.30213721e+03,  1.47096826e+03,  3.65354980e+03,
       -8.99262695e+02,  1.72299756e+03,  1.32194141e+03,  2.33789502e+03,
        1.30240186e+03,  4.20351465e+03,  1.46121777e+03,  3.88139404e+03,
        3.78121777e+03,  3.21257031e+03,  1.62923535e+03,  9.62464844e+02,
        4.20116553e+03,  2.45698633e+03,  2.26258301e+03,  2.23598340e+03,
        5.07615771e+03,  2.33665918e+03,  9.76001953e+02,  2.23096338e+03,
        1.34709668e+03,  1.31413867e+03,  1.27621094e+03,  4.00953418e+03,
        2.78691992e+03,  3.85737158e+03,  5.88623828e+03,  2.13502148e+03,
        1.90242041e+03,  7.34745605e+02,  2.87553223e+03,  2.98262451e+03,
        3.28144922e+03,  5.21894922e+03,  1.26938721e+03,  4.71798096e+03,
        7.96520508e+02,  1.57735693e+03,  1.48573828e+03,  1.07966650e+03,
        1.34565430e+02,  8.88038574e+02,  1.75227002e+03,  2.26510254e+03,
        2.74995508e+03,  1.55375928e+03,  4.01869824e+03,  1.88131396e+03,
        3.99570459e+03,  2.07586670e+03,  2.63226514e+03,  1.54308740e+03,
        9.82232422e+02,  3.38897119e+03,  3.82973779e+03,  4.27335742e+03,
        6.32596680e+02,  1.27842725e+03,  2.79696240e+03,  2.37563965e+03,
        4.74186719e+03,  2.12296484e+03, -1.92174316e+02,  3.84619141e+00,
        3.85754297e+03,  2.95443115e+03,  4.39224512e+03,  2.83287012e+03,
        1.95976221e+03,  2.51972656e+02,  6.60760742e+02,  1.23943359e+03,
        2.55643262e+03,  2.30152832e+03,  2.68364697e+03,  1.06582227e+03,
        2.64213086e+03,  2.72992285e+03,  7.67665527e+02,  3.49390234e+03,
        4.91478711e+03,  2.42302246e+03,  1.84393652e+03,  3.05953760e+03,
        4.05002100e+03,  3.20512305e+03,  2.07790430e+03,  5.09658301e+03,
        8.29329102e+02,  1.67077344e+03,  8.88925293e+02,  1.06905957e+03,
        1.93648047e+03,  1.73141650e+03,  7.67046875e+02,  1.78996191e+03,
        1.66910596e+03,  4.37797852e+02,  1.82372217e+03,  2.46301660e+03,
        1.17254932e+03,  7.91658203e+02,  1.41696777e+03, -9.51526367e+02,
       -3.38776367e+02,  1.52483789e+03,  2.13329980e+03,  4.56083496e+03,
       -3.61390625e+02, -5.68485352e+02,  1.50891504e+03,  2.76938184e+03,
        4.75455029e+03,  2.60663330e+03,  3.66688770e+03,  3.43139502e+03,
        3.03680176e+03,  1.59084912e+03,  1.77844922e+03,  2.40611914e+03,
        9.57249023e+02,  8.23556641e+02,  8.80725586e+02,  2.40084668e+03,
        1.40960010e+03,  2.23604395e+03,  2.11236719e+03,  3.51103857e+03,
        3.62675537e+03,  2.24422363e+03,  2.98637744e+03,  1.19642041e+03,
        2.57396484e+03,  2.94363867e+03,  2.31776465e+03,  9.65815430e+02,
       -1.02670361e+03,  2.67548633e+03,  2.34752832e+03,  5.02117480e+03,
        9.22108887e+02,  1.89162793e+03,  2.20117627e+03,  1.87693555e+03,
        1.72340869e+03,  2.06081201e+03, -9.98584961e+02,  1.73155371e+03,
        3.31711475e+03,  3.19218262e+02,  9.01615723e+02,  4.01186133e+03,
        1.26359668e+03,  8.82387695e+01,  1.36006641e+03,  4.34505127e+03,
        2.25906104e+03,  4.28195605e+03,  4.90645020e+02,  2.97312500e+03,
        1.72558594e+03,  1.86814258e+03,  1.51415332e+03,  1.67870996e+03,
        2.35599268e+03,  3.37082764e+03,  1.09827246e+03,  1.94921143e+03,
        1.96179443e+03,  3.14827051e+03,  3.20985840e+02,  1.35792383e+03,
        8.77681641e+02,  9.85165039e+02,  2.28245557e+03,  1.78759424e+03,
        3.77985352e+03,  6.60317383e+02,  1.33271484e+03,  2.31324414e+03,
        1.81862891e+03,  3.30594385e+03,  2.13541064e+03,  1.40476514e+03,
        2.40636230e+02,  9.66128418e+02,  1.95991602e+03,  1.71358594e+03,
        2.03622314e+03,  5.33299902e+03, -1.16039844e+03,  5.18382715e+03,
        4.01369434e+03,  9.48271973e+02,  1.00918604e+03,  3.31132324e+03,
        1.52504639e+03,  3.57516406e+03,  1.92212354e+03,  2.25167773e+03,
        3.91896729e+03,  2.51140576e+03,  1.94471094e+03,  2.08955957e+03,
        2.42764111e+03,  1.50773047e+03,  1.65678027e+03,  2.43562451e+03,
        4.09726953e+03,  4.05458594e+03,  2.91462891e+03,  1.59461963e+03,
        2.06826465e+03,  2.97448242e+03,  4.70893604e+03,  4.08054932e+03,
        2.01361328e+03,  1.62355566e+03,  1.10616943e+03,  2.30219531e+03,
        1.23484570e+03,  3.39511914e+03,  3.75703320e+03,  2.90105078e+03,
        1.10285547e+03,  1.76245996e+03,  1.40138916e+03])

In [171]:
# We have successfully predicted the test dataset.

In [172]:
# store this prediction values in a variable called pred.

pred = lreg.predict(x_test)

In [173]:
# Now check the performance.
# To check the performance of model we use the R square, r^2.
# use score() function which is provided by scikit learn library.

lreg.score(x_test, true_p)

0.4023191603985402

In [174]:
lreg.score(x_train, y_train)

0.6497748751125412

NOTE: It might be either our model is over-fitted the train dataset, or a test dataset is not representative sample of a train dataset.

In [181]:
# Evaluation of model.
# To evaluate the model we require the RMSE (Root Mean Square Error)

rmse_test = np.sqrt(np.mean(np.power((np.array(true_p)-np.array(pred)),2)))

In [182]:
rmse_test

1255.3481611944587

In [183]:
rmse_train = np.sqrt(np.mean(np.power((np.array(y_train)-np.array(lreg.predict(x_train))),2)))

In [184]:
rmse_train

1013.0021811098992

In [185]:
print(rmse_train)
print(rmse_test)

1013.0021811098992
1255.3481611944587